.magasiner-sidebar {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 17.9%;
    height: 100%;
    background: var(--base-rgb);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: left;
    padding: 0 20px;
    z-index: 1000;
}

.magasiner-sidebar .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase;
}

.magasiner-sidebar .note {
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    color: white;
}

.magasiner-sidebar ul {
    list-style-type: none;
}

.magasiner-sidebar li {
    padding: 10px 0;
    padding-left: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.magasiner-sidebar a {
    text-decoration: none;
    color: white;
}

.magasiner-sidebar .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.magasiner-sidebar .logo .icon {
    font-size: 70px;
    background: none;
}

.magasiner-sidebar .logo span {
    font-weight: bold;
    font-size: 40px;
}

.magasiner-sidebar .content {
    height: 70%;
}

.magasiner-sidebar aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
}

.magasiner-sidebar aside .icon {
    font-size: 30px;
    background: none;
}