/* Footer.css */
.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--base-color);
  padding: 20px 0;
  z-index: 1000; /* Assurez-vous que le footer est au-dessus des autres éléments */
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color:var(--base-color);
  color:#fff;
}

.footer-section {
  flex: 1;
  margin-right: 20px;
  background-color: var(--base-color);
  color:#fff;
}

.footer-section h3 {
  background-color: var(--base-color);
  color:#fff;
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  background-color: var(--base-color);
  color:#fff;
}

.footer-section ul li {
  margin-bottom: 5px;
  background-color: var(--base-color);
  color:#fff;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
  background-color: var(--base-color);
  color:#fff;
}

.footer-section ul li a:hover {
  color: #ccc;
  background-color: var(--base-color);
  color:#fff;

}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--base-color);
  color:#fff;
}

.social-icons li {
  margin-right: 10px;
  background-color: var(--base-color);
  color:#fff;
}

.social-icons li:last-child {
  margin-right: 0;
  background-color: var(--base-color);
  color:#fff;
}

.social-icons a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  background-color: var(--base-color);
  color:#fff;
}

.bottom-footer {
  text-align: center;
  margin-top: 20px;
  background-color: var(--base-color);
  color:#fff;
}
